p{
  font-size: 14px;
  color: #262626;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading{
  color: rgb(204,18,18);
  font-size: 26px;
}
.underline{
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-c-light{
  background-color: #f2f2f2;
}
.nav-item a,
.footer a{
  color: #fff;
  text-decoration: none !important;
}
.nav-item a:hover,
.footer a:hover{
  color: gray !important;
}
.footer-info div, 
.footer-info p {
  font-size: 13px;
}
.footer-text{
  font-size: 12px;
}
.footer-logo img{
  max-width: 250px;
}
.navbar-brand{
  max-width: 4rem;
}
.carousel-inner img{
  max-height: 350px;
  object-fit: cover;
}